*{
    font-family: 'roboto', sans-serif;
    color:white;
    padding:0px;
    margin:0px;
    max-width:13000px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBar{
    background: #1d2f44;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top: 0;
    z-index: 1000;

}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    height:60px;
    z-index:1;
    width:100%;
    max-width:13000px;
}

.navLinks{
    display: flex;
    gap: 20px;
    margin:0;
    padding:0;
    list-style: none;
    justify-content:space-between;
}

.navLinks li a{
    padding: 10px 15px;
    border-radius: 10px;
}

.navLinks li a:hover{
    background-color: #162231;
}

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.IEEE-Logo{
    margin-right:3px;
}

html, body{
    height:100%;
    margin:0;
}

body{
    background-color: #0f1e2c;
    background-image:
        repeating-linear-gradient(45deg,#162b3f, transparent 1px 40px),
        repeating-linear-gradient(-45deg, #162b3f, transparent 1px 40px);
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

#navtitle{
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-radius:10px;
    display: flex;
}
#navtitle:hover{
    box-shadow:0 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: #162231;
}

#titleCard{
    text-align: center;
    font-size:20px;
    background: linear-gradient(rgba(76, 86, 95, 0.705),rgba(16, 32, 45, 0.932)), url('/IEEE-UNLV-Website/images/Soldering.jpg');
    background-size: cover;
    background-position: center; 
    padding:10rem;
}

#titleCard h1{
    font-size: 3rem;
    color: #ffffff;
    margin: 2rem;
    text-align: center;
}

#titleCard hr{
    width: 100%;
    opacity:50%;
}

#titleCard p{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.637);
    margin: 1rem;
    text-align: center;
}

.Home-IEEE-Logo{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

section{
    padding: 4rem;
    margin: 0;
    text-align: center;
}

hr{
    width:400px;
    margin: auto;
}

#about,
#join{
    padding: 8rem;
    justify-content:center;
    background-size:cover;
    background-position:center;
}

#about h2,
#join h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

#about p,
#join p{
    font-size: 1.5rem;
    margin: 20px auto;
    width:800px;
    color: rgba(255, 255, 255, 0.637);
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:20px;
}

#aboutContainer{
    background: linear-gradient(rgba(76, 86, 95, 0.705),rgba(16, 32, 45, 0.932)), url('/IEEE-UNLV-Website/images/IEEEBulletinFall2025.jpg');
    background-size:cover;
    background-attachment:fixed;
}

#aboutContainer h2{
    font-size:2.5rem;
}


#WhoWeAre h3{
    font-size:2rem;
    text-align:center;
    padding:20px;
}

#WhoWeAre p{
    color: rgba(255, 255, 255, 0.637);
}

#WhoWeAre{
    padding:20px;
    text-align:left;
    font-size: 1.5rem;
    margin:20px auto;
    padding:60px;
}

.GalleryContainer{
    overflow:hidden;
    max-width:100%;
    position:relative;
    background-color: #101924;
    display: grid;
    padding: 50px;
}

.GalleryContent.active{
    display:block;
    margin:auto;
    width:700px;
    height:600px;
}

.GalleryContent{
    display:none;
}

.GalleryContent img{
    border-radius:30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  background-color: #060b0f;
  user-select: none;
  transform: translateY(-50%);
}

.prev { left: 25%; }
.next { right: 25%; }

.prev:hover, .next:hover {
  background-color: #000000;
}

.AboutButton,
.EventsButton,
.JoinButton{
    background-color: #28405e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.AboutButton:hover,
.EventsButton:hover,
.JoinButton:hover{
    background-color:#182638;
    color:rgba(255, 255, 255, 0.637);
}

#events{
    padding: 8rem;
    text-align: center;
    background-size:cover;
    background-position:center;
}

#events h2{
    font-size:3rem;
    margin-bottom:1rem;
}

#events p{
    font-size: 1.5rem;
    margin: 20px auto;
    width: 800px;
    color: rgba(255, 255, 255, 0.637);
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:20px;
}

.pastEvents{
    font-size:2rem;
    flex-direction:column;
    gap:12px;
    margin-bottom:16px;
    width:50%;
    margin: 20px auto;
}

.pastEventContainer{    
    font-size: 25px;
    margin: 20px auto;
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:20px;
    text-align:center;
}

.eventPages{
    display:flex;
    justify-content:center;
    gap:6px;
}

.eventPages button,
.PaginationPrev,
.PaginationNext{
    padding: 6px 12px;
    border:1px solid #aaa;
    background:#28405e;
    cursor:pointer;
    border-radius:4px;
}

.eventPages button.active{
    background-color: #21344d;
    color:white;
    border-color: #21344d;
}

.PaginationPrev:hover,
.PaginationNext:hover{
background-color: #21344d;
    color:white;
    border-color: #21344d;
}

.pastEventContainer p{
    color: rgba(255, 255, 255, 0.637);
    font-size: 18px;
    padding:10px;
}

#membership{
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
}

.memberContainer{
    padding: 2rem;
    display:flex;
    margin: 0 auto;
    justify-content:center;
    text-align:center;
    background-color:#0f1e2c;
    width:90%;
    max-width:1200px;
    flex-wrap:wrap;
}

.memberContainer div{
    padding:20px;
}

#membership h2,
.memberContainer h2{
    font-size: 3rem;
    margin-bottom:1rem;
}

.memberContainer section{
    font-size:1.5rem;
    margin:1rem auto;
    width:auto;
    color: rgba(255, 255, 255, 0.637);
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:60px;
}

#membership p{
    font-size:1.5rem;
    margin:1rem auto;
    width:800px;
    color: rgba(255, 255, 255, 0.637);
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:20px;
    width:100%;
    max-width:800px;
}

.JoinIEEEButton,
.JoinInvolvementButton, 
.DiscordButton, 
.InstagramButton{
    background-color: #28405e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    display:inline-block;
}

.JoinIEEEButton:hover,
.DiscordButton:hover,
.InstagramButton:hover,
.JoinInvolvementButton:hover{
    background-color:#182638;
    color:rgba(255, 255, 255, 0.637);
}

.AboutContainer,
.eventContainer,
.memberContainer,
.contactContainer{
    background-color: #0f1e2c;
    background-image:
        repeating-linear-gradient(45deg,#162b3f, transparent 1px 40px),
        repeating-linear-gradient(-45deg, #162b3f, transparent 1px 40px);
}

.AboutContainer p{
    text-align:justify;
}

.AboutImages{
    justify-content:center;
}

footer{
    background-color: #1d2f44;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content:space-between;
    z-index:1000;
    margin-top:auto;
}

#contact,
#socials{
    display:grid;
    gap:1rem;
    grid-template-columns:repeat(2, 500px);
    justify-content:center;
}

#officers{
    display:grid;
    gap:5%;
    grid-template-columns:repeat(3, 400px);
    justify-content:center;
    place-items:center;
}

.contactContainer {
    width:100%;

}

.contactContainer h2{
    font-size:3rem;
    margin-bottom:1rem;
    text-align:center;
    margin-top:3rem;
}

.contactContainer h4{
    text-align:left;
    font-size:1.5rem;
    margin:20px;
}

#contact p,
#socials p{
    text-align:left;
    color: rgba(255, 255, 255, 0.637);
    font-size:1.5rem;
    margin:20px;
}

#contactBox{
    background-color:#172c3f;
    padding:1rem;
    border-radius:20px;
    width:80%;
    margin:auto;
}

#socialMediaBox{
    background-color:#172c3f;
    padding:1rem;
    border-radius:20px;
    width:80%;
    margin:auto;
}

#contact a,
#socials a{
    font-size:1.5rem;
}

#contact a:hover,
#socials a:hover{
    color: rgba(255, 255, 255, 0.37);
}

.socialsGitHub{
    padding:10px;
    border-radius:10px;
    float:left;
    margin-top:5px;
}

.socialsInstagram{
    padding:10px;
    border-radius:10px;
    float:left;
    margin-top:5px;
}

.contactBtn{
    background-color: #28405e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    display:inline-block;
}

.contactBtn:hover{
    background-color:#182638;
}

.socialsDiscord{
    padding:10px;
    border-radius:10px;
    float:left;
    height:auto;
    margin-top:8px;
}

#officerBox{
    background-color:#080d13;
    border-radius:80px;
    width:70%;
    height:100%;
    padding:1%;
    align-items:center;
}

#officerBox img{
    padding:5%
}

footer h2{
    font-size:20px;
    margin:10px;
}

footer span{
    font-size:20px;
    font-weight:bold;
    height: 60px;
}

.footer-logo{
    margin-top:40px;
}

.footer-text{
    font-size: 13px;
    margin:10px;
    color:#dddcdc;
}

footer li{
    list-style:none;
} 

.footer-column{
    flex:1;
    padding:0 10px;
}

#footerLinks{
    font-size:13px;
    color:#dddcdc;
}

#footerLinks:hover{
    color:#b1b0b0;
}



/*Navigation Menu when browswer is 960px or leass*/
@media (max-width: 968px) {
    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        right:5px;
        background-color: #1d2f44;
        background-color: #1d2f44;
        width: 25%;
        border-radius:30px;
        text-align:center;
        padding: 10px;
    }

    .navLinks li{
        border-radius:50px;
        padding:10px;
    }

    .navLinks li:hover{
        background-color: #162231;
    }

    .navLinks.active {
        display: flex;
    }

    #hamburgerMenu{
    display: inline-block;
    cursor: pointer;
    padding: 13px;
    border-radius: 10px;
    }

    #hamburgerMenu span{
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
    }

    #hamburgerMenu:hover{
        background-color: #162231;
        transition: ease-in 0.1s;
    }
    
    #hamburgerMenu.is-active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    #hamburgerMenu.is-active span:nth-child(2) {
        opacity: 0;
    }
    #hamburgerMenu.is-active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #about p,
    #join p,
    #events p{
        width:300px;
    }

    /*Adjusting size of gallery images in About Us*/
    .GalleryContent.active{
        display:block;
        margin:auto;
        width:600px;
        height:600px;
    }

    /*Adjusting the position of prev and next arrows in About Us*/
    .prev { left: 10%; }
    .next { right: 10%; }
    
    hr{
    width:auto;
    }
    
    /*Join Us page*/
    .memberContainer{
        width:90%;
    }

    /*Resizing Contact Us page*/
    #contact,
    #socials{
        grid-template-columns:repeat(2, 50%);
    }

    #officers{
        margin-bottom:40px;
        grid-template-columns:repeat(2, 40%);
    }

    #contactBox{
        width:auto;
    }

    #socialMediaBox{
        width:auto;
    }

    #officerBox{
        width:90%;
        height:105%;
    }
    .contactContainer hr{
        width:55%;
    }
    #officerBox img{
        margin-top:10px;
        width:60%;
    }
}

/*Navigation Menu when browswer is <=480px*/
@media (max-width: 480px) {
    .navLinks li a{
        font-size:80%;
    }

    #titleCard h1{
        font-size: 120%;
        margin: 5%;
    }

    #titleCard hr{
        margin:10%;
        width:100%;
    }

    #titleCard p{
        font-size: 65%;
        margin: auto;
    }

    .Home-IEEE-Logo{
    width: 80%;
    }

    #about h2,
    #events h2,
    #join h2{
        font-size:190%;

    }
    #about p,
    #events p,
    #join p{
        width:80%;
        font-size:80%;
    }

    #about,
    #events,
    #join{
        width:auto;
    }

    #WhoWeAre p{
        font-size:1rem;
    }

    /*Adjusting size of gallery images in About Us*/
    .GalleryContent.active{
        width:105%;
    }

    /*Events Page*/
    .pastEventContainer{    
    font-size: 1rem;
    width:100%;
    }

    .eventPages{
        display:flex;
        justify-content:center;
        gap:6px;
    }

    /*Adjusting the position of prev and next arrows in About Us*/
    .prev { left: 12%; }
    
    hr{
    width:auto;
    }
    
    /*Resizing Join Us page*/
    .memberContainer{
        width:10%;

    }

    .memberContainer h2{
        font-size: 150%;
    }

    .memberContainer section{
        font-size:100%;
    }

    .JoinIEEEButton,
    .JoinInvolvementButton, 
    .DiscordButton, 
    .InstagramButton{
        font-size: 0.9rem;
    }

    /*Resizing Contact Us page*/
    #contact,
    #socials{
        grid-template-columns:repeat(1, 100%);
    }

    #officers{
        margin-bottom:40px;
        grid-template-columns:repeat(2, 40%);
    }

    .contactContainer h2{
        font-size:2rem;
    }

    #contactBox{
        width:90%;
    }

    #contactBox h4,
    #socialMediaBox h4{
        font-size:1.5rem;
    }

    #contactBox p,
    #socialMediaBox p{
        font-size:1rem;
    }

    #contact a,
    #socials a{
        font-size:1rem;
    }

    #socialMediaBox{
        width:100%;
    }

    #officerBox{
        width:100%;
        height:110%;
        border-radius:30%;
    }

    #officerBox h4{
        font-size:1.2rem;
    }
    #officerBox p{
        font-size:0.9rem;
    }

    #officerBox img{
        width:50%;
    }

}