<<<<<<< HEAD
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:"Roboto", sans-serif;
    overflow-x:hidden;
}

.navbar__container {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    height: 80px;
    background-color: #00629B;
    z-index:1000; /*Nav bar should always be above the other content*/
    width:100%;
    margin: 0 auto;
    padding:0 50px;
}

#navbar-logo {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration:none;
    font-size:2rem;
}

.navbar_menu {
    display: flex;
    list-style: none;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
}

.navbar_item{
    height:80px;
}

.navbar_links{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_links:hover{
    color: grey;
    transition: all 0.3s ease-in-out;
}

.navbar_btn{
    display:flex;
    align-items:center;
}

.navbar_btn.mobile{
    display:none;
}

.navbar_btn.desktop{
    display:flex;
}

.button{
    background:black;
    padding: 10px 20px;
    border:none;
    border-radius: 6px;
    color:#FFFFFF;
    text-decoration:none;
    display:flex;
    align-items:center;
}

.button:hover{
    background:grey;
    transition: all 0.3s ease-in-out;
}

.navbar_toggle {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 968px) {
    .navbar_toggle{
        display: block;
        position:absolute;
        right:20px;
        top:50%;
        transform:translateY(-50%);
        color: #FFFFFF;
        z-index:10;
        font-size:1.5rem;
        border:none;
        background:none;
        cursor:pointer;
        padding:0;
    }
    .navbar_toggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #FFFFFF;
        transition: all 0.3s ease-in-out;
    }

    .navbar_toggle span{
        display:block;
        cursor:pointer;
    }
    
    .navbar_menu{
        display:grid;
        grid-template-columns:auto;
        margin:0;
        width:100%;
        position:absolute;
        top:-1000px;
        opacity:0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background:#131313;
    }

    .navbar_menu.active{
        background:#131313;
        top:100%;
        opacity:1;
        transition: all 0.5s ease;
        z-index:999;
        height:50vh;
        font-size:1.6rem;
    }

    .navbar_item{
        width:100%;
        display:flex;
        justify-content:center;
    }
}

