header{
    background-color:black;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.navtitle{
    text-align:left;
}

.navletters{
    text-align:right;
}

a{
    color:white;
    text-decoration:none;
}

a:hover{
    color:lightgrey;
}

a:active{
    color:grey;
}