*{
    font-family: 'roboto', sans-serif;
    color:white;
    padding:0px;
    margin:0px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBar{
    background: #1d2f44;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top: 0;
    z-index: 1000;

}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    height:60px;
    z-index:1;
    width:100%;
    max-width:13000px;
}

.navLinks{
    display: flex;
    gap: 20px;
    margin:0;
    padding:0;
    list-style: none;
    justify-content:space-between;
}

.navLinks li a{
    padding: 10px 15px;
    border-radius: 10px;
}

.navLinks li a:hover{
    background-color: #162231;
}

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.IEEE-Logo{
    margin-right:3px;
}

.homepageContainer{
    background-color: #ffff;
}

#navtitle{
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-radius:10px;
    display: flex;
}
#navtitle:hover{
    box-shadow:0 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: #162231;
}

#titleCard{
    text-align: center;
    font-size:20px;
    background: linear-gradient(rgba(76, 86, 95, 0.705),rgba(16, 32, 45, 0.932)), url('/IEEE-UNLV-Website/images/Soldering.jpg');
    background-size: cover;
    background-position: center; 
    padding:10rem;
}

#titleCard h1{
    font-size: 3rem;
    color: #ffffff;
    margin: 2rem;
    text-align: center;
}

#titleCard hr{
    width: 100%;
    opacity:50%;
}

#titleCard p{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.637);
    margin: 1rem;
    text-align: center;
}

.Home-IEEE-Logo{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

section{
    padding: 4rem;
    margin: 0;
    text-align: center;
    background-color:#0f1e2c;
    justify-content: center;

}

hr{
    width:400px;
    margin: auto;
}

#about{
    padding: 8rem;
    justify-content:center;
    background-size:cover;
    background-position:center;
}

#about h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#about p{
    font-size: 1.2rem;
    margin: 20px auto;
    width:800px;
    color: rgba(255, 255, 255, 0.637);
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:20px;
}

.AboutButton{
    background-color: #28405e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#events{
    padding: 8rem;
    text-align: center;
    background-size:cover;
    background-position:center;
}

#events h2{
    font-size:2.5rem;
    margin-bottom:1rem;
}

#events p{
    font-size: 1.2rem;
    margin: 20px auto;
    width: 800px;
    color: rgba(255, 255, 255, 0.637);
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:20px;
}

.EventsButton{
    background-color: #28405e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#membership{
    padding: 8rem;
    margin: 0 auto;
    text-align: center;
}

#membership h2{
    font-size: 2.5rem;
    margin-bottom:1rem;
}

#membership p{
    font-size:1.2rem;
    margin:1rem auto;
    width:800px;
    color: rgba(255, 255, 255, 0.637);
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:20px;
}

.JoinButton{
    background-color: #28405e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

footer{
    background-color: #1d2f44;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/*Navigation Menu when browswer is 960px or leass*/
@media (max-width: 968px) {
    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        right:5px;
        background-color: #1d2f44;
        background-color: #1d2f44;
        width: 25%;
        border-radius:30px;
        text-align:center;
        padding: 10px;
    }

    .navLinks li{
        border-radius:50px;
        padding:10px;
    }

    .navLinks li:hover{
        background-color: #162231;
    }

    .navLinks.active {
        display: flex;
    }

    #hamburgerMenu{
    display: inline-block;
    cursor: pointer;
    padding: 13px;
    border-radius: 10px;
    }

    #hamburgerMenu span{
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
    }

    #hamburgerMenu:hover{
        background-color: #162231;
        transition: ease-in 0.1s;
    }
    
    #hamburgerMenu.is-active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    #hamburgerMenu.is-active span:nth-child(2) {
        opacity: 0;
    }
    #hamburgerMenu.is-active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #about p{
        width:300px;
    }
    
    #events p{
        width:300px;
    }

    #membership p{
        width:300px;
    }
}
