*{
    font-family: 'roboto', sans-serif;
    color:white;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBar{
    background: #1d2f44;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top: 0;
    z-index: 1000;

}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    height:60px;
    z-index:1;
    width:100%;
}

.navLinks{
    display: flex;
    gap: 20px;
    margin:0;
    list-style: none;
    justify-content:space-between;
}

.navLinks li a{
    padding:10px;
    border-radius: 10px;
}

.navLinks li a:hover{
    background-color: #162231;
}

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.IEEE-Logo{
    margin-right:3px;
}

html, body{
    height:100%;
    margin:0;
    width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #0f1e2c;
    background-image:
        repeating-linear-gradient(45deg,#162b3f, transparent 1px 40px),
        repeating-linear-gradient(-45deg, #162b3f, transparent 1px 40px);
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

#navtitle{
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-radius:10px;
    
}
#navtitle:hover{
    box-shadow:0 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #162231;
}

#titleCard{
    text-align: center;
    font-size:20px;
    background: linear-gradient(rgba(76, 86, 95, 0.705),rgba(16, 32, 45, 0.932)), url('/images/Soldering.jpg');
    background-size: cover;
    background-position: center; 
    padding:auto;
    width:0 auto;
}

#titleCard h1{
    font-size: 3rem;
    color: #ffffff;
    margin: 2rem;
    text-align: center;
}

#titleCard hr{
    width: 100%;
    opacity:50%;
}

#titleCard p{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.637);
    margin: 1rem;
    margin-bottom:10rem;
    text-align: center;
}

.Home-IEEE-Logo{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

section{
    padding: 4rem;
    margin: 0 auto;
    text-align: center;
}

hr{
    width:50%;
    margin: 0 auto;
}

.homepageContainer{
    width:0 auto;
    justify-content:center;
    background-size:cover;
    background-position:center;
    margin-bottom: 10%;
}


#about h2,
#join h2,
#event h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top:5rem;
}

#about p,
#join p,
#event p{
    font-size: 1.5rem;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    color: rgba(255, 255, 255, 0.637);
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:3%;
}

#aboutContainer{
    background: linear-gradient(rgba(76, 86, 95, 0.705),rgba(16, 32, 45, 0.932)), url('/images/IEEEBulletinFall2025.jpg');
    background-size:cover;
    background-attachment:fixed;
    width:0 auto;
    padding: auto;
}

#aboutContainer h2{
    font-size:2.5rem;
}



#AboutContainer h3{
    font-size:2rem;
    text-align:center;
    padding:20px;
}

#WhoWeAre p{
    color: rgba(255, 255, 255, 0.637);
    text-indent:40px;
}

#WhoWeAre{
    text-align:left;
    font-size: 1.5rem;
}

.gallerySection {
    padding: 4rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.section-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 2px;
}

.GalleryContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.GalleryContent p{
    text-align: center;
    margin-top:5px;
}

.GalleryContent{
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
}

.GalleryContent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.AboutButton,
.EventsButton,
.JoinButton{
    background-color: #28405e;
    color: white;
    padding:1%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.AboutButton:hover,
.EventsButton:hover,
.JoinButton:hover{
    background-color:#1f2f46;
    color:rgba(255, 255, 255, 0.637);
}

.pastEvents,
#currentEvents{
    font-size:2rem;
    flex-direction:column;
    gap:12px;
    margin-bottom:16px;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

.pastEventContainer,
.currentEventsContainer{    
    font-size: 25px;
    margin: 20px auto;
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:20px;
    text-align:center;
    width: 100%;
    max-width: 100%;
}

.eventPages{
    display:flex;
    justify-content:center;
    gap:6px;
}

.eventPages button,
.PaginationPrev,
.PaginationNext{
    padding: 6px 12px;
    border:1px solid #aaa;
    background:#28405e;
    cursor:pointer;
    border-radius:4px;
}

.eventPages button.active{
    background-color: #21344d;
    color:white;
    border-color: #21344d;
}

.PaginationPrev:hover,
.PaginationNext:hover{
background-color: #21344d;
    color:white;
    border-color: #21344d;
}

.pastEventContainer p,
.pastEventContainer a,
.currentEventsContainer p,
.currentEventsContainer a{
    color: rgba(255, 255, 255, 0.637);
    font-size: 18px;
    padding:10px;
}

.pastEventContainer a:hover,
.currentEventsContainer a:hover{
    color: rgba(255, 255, 255, 0.8);
}

#membership{
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
}

.memberContainer{
    padding: 2rem;
    display:flex;
    margin: 0 auto;
    justify-content:center;
    text-align:center;
    background-color:#0f1e2c;
    width: 100%;
    max-width: 100%;
}

.memberContainer div{
    padding:20px;
}

#membership h2,
.memberContainer h2{
    font-size: 3rem;
    margin-bottom:1rem;
}

.memberContainer section{
    font-size:1.5rem;
    margin:1rem auto;
    width: 90%;
    max-width: 100%;
    color: rgba(255, 255, 255, 0.637);
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:60px;
}

#membership p{
    font-size:1.5rem;
    margin:1rem auto;
    width: 90%;
    max-width: 800px;
    color: rgba(255, 255, 255, 0.637);
    background-color:#172c3f;
    border-radius: 10px;
    border: 5px solid #1b2c41;
    padding:20px;
}

.JoinIEEEButton,
.JoinInvolvementButton, 
.DiscordButton, 
.InstagramButton{
    background-color: #28405e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    display:inline-block;
}

.JoinIEEEButton:hover,
.DiscordButton:hover,
.InstagramButton:hover,
.JoinInvolvementButton:hover{
    background-color: #1f3248;
    color:rgba(255, 255, 255, 0.637);
}

.AboutContainer,
.eventContainer,
.memberContainer,
.contactContainer{
    background-color: #0f1e2c;
    background-image:
        repeating-linear-gradient(45deg,#162b3f, transparent 1px 40px),
        repeating-linear-gradient(-45deg, #162b3f, transparent 1px 40px);
}

.AboutContainer p{
    text-align:justify;
}

.AboutImages{
    justify-content:center;
}

footer{
    background-color: #1d2f44;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content:space-between;
    z-index:1000;
    margin-top:auto;
    clear: both;
}

#contact,
#socials{
    display:grid;
    gap:1rem;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    justify-content:center;
    padding: 0 1rem;
}

.officers{
    display:grid;
    gap: 2rem;
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 2rem;
}

.contactContainer {
    width:100%;
    flex: 1;
}

.contactContainer h2{
    font-size:3rem;
    margin-bottom:1rem;
    text-align:center;
    margin-top:3rem;
}

.contactContainer h4{
    text-align:left;
    font-size:1.5rem;
    margin:20px;
}

#contact p,
#socials p{
    text-align:left;
    color: rgba(255, 255, 255, 0.637);
    font-size:1.5rem;
    margin:20px;
}

#contactBox{
    background-color:#172c3f;
    padding:1rem;
    border-radius:20px;
    width: 90%;
    max-width: 500px;
    margin:auto;
}

#socialMediaBox{
    background-color:#172c3f;
    padding:1rem;
    border-radius:20px;
    width: 90%;
    max-width: 500px;
    margin:auto;
}

#contact a,
#socials a{
    font-size:1.5rem;
}

#contact a:hover,
#socials a:hover{
    color: rgba(255, 255, 255, 0.37);
    background-color:#1e374e;
}

.socialsGitHub{
    padding:10px;
    border-radius:10px;
    float:left;
    margin-top:5px;
}

.socialsInstagram{
    padding:10px;
    border-radius:10px;
    float:left;
    margin-top:5px;
}

.contactBtn{
    background-color: #28405e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    display:inline-block;
}

.contactBtn:hover{
    background-color:#182638;
}

.socialsDiscord{
    padding:10px;
    border-radius:10px;
    float:left;
    height:auto;
    margin-top:8px;
}

#officerBox{
    background-color:#080d13;
    border-radius:15px;
    overflow: hidden;
}

#officerBox img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer h2{
    font-size:20px;
    margin:10px;
}

footer span{
    font-size:20px;
    font-weight:bold;
    height: 60px;
}

.footer-logo{
    margin-top:40px;
}

.footer-text{
    font-size: 13px;
    margin:10px;
    color:#dddcdc;
}

footer li{
    list-style:none;
} 

.footer-column{
    flex:1;
    padding:0 10px;
}

#footerLinks{
    font-size:13px;
    color:#dddcdc;
}

#footerLinks:hover{
    color:#b1b0b0;
}


/*Navigation Menu when browswer is 960px or leass*/
@media (max-width: 968px) {
    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        right:5px;
        background-color: #1d2f44;
        background-color: #1d2f44;
        width: 25%;
        border-radius:30px;
        text-align:center;
        padding: 10px;
    }

    .navLinks li{
        border-radius:50px;
        padding:10px;
    }

    .navLinks li:hover{
        background-color: #162231;
    }

    .navLinks.active {
        display: flex;
    }

    #hamburgerMenu{
    display: inline-block;
    cursor: pointer;
    padding: 13px;
    border-radius: 10px;
    }

    #hamburgerMenu span{
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
    }

    #hamburgerMenu:hover{
        background-color: #162231;
        transition: ease-in 0.1s;
    }
    
    #hamburgerMenu.is-active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    #hamburgerMenu.is-active span:nth-child(2) {
        opacity: 0;
    }
    #hamburgerMenu.is-active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #titleCard hr{
    width:50%
    }

    #about p,
    #join p,
    #events p,
    #event p{
        width:300px;
    }

    .AboutButton,
    .EventsButton,
    .JoinButton{
        font-size:90%;
        padding:2%;
    }

    hr{
    width:50%;
    }
    
    /*Join Us page*/
    .memberContainer{
        width:90%;
    }

    /*Resizing Contact Us page*/
    #contact,
    #socials{
        grid-template-columns:repeat(2, 50%);
    }

    .officers{
        margin-bottom:40px;
        grid-template-columns:repeat(2, 40%);
    }

    #contactBox{
        width:auto;
    }

    #socialMediaBox{
        width:auto;
    }

    #officerBox{
        width:90%;
        height:105%;
    }
    .contactContainer hr{
        width:55%;
    }
    
}

@media (max-width: 480px) {
    #contact,
    #socials{
        grid-template-columns:1fr;
    }

    .officers{
        grid-template-columns:1fr;
    }
}
